<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cpuminergui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Cpuminergui.Properties.Settings>
            <setting name="coins" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>YTN cpu-pool.com|ytn|stratum+tcp://cpu-pool.com:63368|yespowerr16</string>
                        <string>YTN yenten-pool.info|ytn|stratum+tcp://yenten-pool.info:63368|yespowerr16</string>
                        <string>YTN pool.rplant.xyz|ytn|stratum+tcp://stratum-eu.rplant.xyz:3382|yespowerr16</string>
                        <string>Raptoreum pool.rplant.xyz|RTM|stratum+tcp://stratum-eu.rplant.xyz:7056|gr</string>
                        <string>Babacoin pool.rplant.xyz|BBC|stratum+tcp://stratum-eu.rplant.xyz:17082|gr</string>
                        <string>Yenten pool.rplant.xyz|YTN|stratum+tcp://stratum-eu.rplant.xyz:3382|yespowerr16</string>
                        <string>GoldCash pool.rplant.xyz|GOLD|stratum+tcp://stratum-eu.rplant.xyz:7057|yescryptr16</string>
                        <string>Avian pool.rplant.xyz|AVN|stratum+tcp://stratum-eu.rplant.xyz:7068|minotaurx</string>
                        <string>Bitoreum pool.rplant.xyz|BTRM|stratum+tcp://stratum-eu.rplant.xyz:7075|gr</string>
                        <string>Tidecoin pool.rplant.xyz|TDC|stratum+tcp://stratum-eu.rplant.xyz:7059|yespowertide</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="brandcoin" serializeAs="String">
                <value>for all CPU coins v1</value>
            </setting>
        </Cpuminergui.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
